<div class="card">
	<p-table
		*ngIf="pagedContacts.length"
		[value]="pagedContacts"
		[tableStyle]="{ 'min-width': '50rem' }"
	>
		<ng-template pTemplate="header">
			<tr>
				<th>Title</th>
				<th>User Email</th>
				<th>Mail</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-contact>
			<tr (click)="showMail(contact)" style="cursor: pointer">
				<td>{{ contact.title }}</td>
				<td>{{ contact.email }}</td>
				<td>{{ contact.message | truncate: 100 }}</td>
				<span *ngIf="!contact.read" class="badge badge-danger">New</span>
				<span *ngIf="contact.read" class="badge badge-succes">Lu</span>
			</tr>
		</ng-template>
	</p-table>
</div>

<app-pagination
	*ngIf="totalRecords > 0"
	[rows]="rows"
	[first]="first"
	[totalRecords]="totalRecords"
	[rowsPerPageOptions]="rowsPerPageOptions"
	(pageChange)="onPageChange($event)"
	(rowsChange)="onRowsChange($event)"
></app-pagination>

<div *ngIf="selectedContact" class="modal">
	<div class="modal-content">
		<button class="close" (click)="closeMail()">&times;</button>
		<h2>{{ selectedContact.title }}</h2>
		<p>{{ selectedContact.message }}</p>
	</div>
</div>
