<!-- <app-layout-container-content
	sectionTitle="Adresse"
	[isViewDatas]="isViewDatas"
	(sendIsViewDatas)="showIsViewDatas($event)"
>
	<div
		class="content-box"
		data
		*ngIf="UserProfile$ | async as userAddressDetails"
	>
		<app-account-card-info
			title="N° de rue"
			[content]="userAddressDetails.streetNumber"
			[isViewDatas]="isViewDatas"
		>
			<app-text-field
				*ngIf="!isViewDatas"
				input
				type="text"
				id="streetNumber"
				name="streetNumber"
				[(ngModel)]="userAddressDatasForm.streetNumber"
			></app-text-field>
		</app-account-card-info>

		<app-account-card-info
			title="Rue / Avenue"
			[content]="userAddressDetails.street"
			[isViewDatas]="isViewDatas"
		>
			<app-text-field
				*ngIf="!isViewDatas"
				input
				type="text"
				id="street"
				name="street"
				[(ngModel)]="userAddressDatasForm.street"
			></app-text-field
		></app-account-card-info>

		<app-account-card-info
			title="Région"
			[content]="userAddressDetails.region.name"
			[isViewDatas]="isViewDatas"
		>
			<app-select-region
				*ngIf="!isViewDatas"
				input
				id="region"
				inputId="region"
				name="region"
				#region="ngModel"
				[(ngModel)]="userAddressDatasForm.region"
			></app-select-region>
		</app-account-card-info>

		<app-account-card-info
			title="Département"
			[content]="userAddressDetails.department.name"
			[isViewDatas]="isViewDatas"
		>
			<app-select-department
				*ngIf="!isViewDatas"
				input
				id="department"
				inputId="department"
				name="department"
				[required]="true"
				#department="ngModel"
				[(ngModel)]="userAddressDatasForm.department"
			></app-select-department>
		</app-account-card-info>

		<app-account-card-info
			title="Code postal"
			[content]="userAddressDetails.postalCode"
			[isViewDatas]="isViewDatas"
		>
			<app-mask-field
				*ngIf="!isViewDatas"
				input
				id="postalCode"
				name="postalCode"
				placeholder="99999"
				mask="99999"
				[(ngModel)]="userAddressDatasForm.postalCode"
			></app-mask-field>
		</app-account-card-info>

		<app-account-card-info
			title="Ville"
			[content]="userAddressDetails.city.name"
			[isViewDatas]="isViewDatas"
		>
			<app-select-city
				*ngIf="!isViewDatas"
				input
				id="city"
				inputId="city"
				name="city"
				[(ngModel)]="userAddressDatasForm.city"
			>
			</app-select-city>
		</app-account-card-info>

		<div class="btn-form-box" *ngIf="!isViewDatas">
			<p-button label="Sauvegarder" [rounded]="true" (click)="onSave()" />
		</div>
	</div>
</app-layout-container-content> -->
