p {
	font-size: 0.85rem;
	text-align: center;
	color: var(--black-color);

	a {
		text-decoration: none;
		color: var(--primary-color);
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
