app-layout-split {
	display: flex;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
}
