<div class="container">
	<app-dashboard-layout
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="connectedUser.username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
		[items]="navItems"
	>
		<app-account-container-content
			sectionTitle="Mes Notifications"
			[hideBtn]="true"
		>
		</app-account-container-content>
		<p-button *ngIf="newActivityCreated" rounded routerLink=""
			>Nouvelle activité créée</p-button
		>
		<p-button rounded>Activité annulée</p-button>
	</app-dashboard-layout>
</div>
