<app-layout-split
	pageTitle="Création d'une activité"
	backgroundImage="/assets/photos/create-activity.jpg"
>
	<form #addActivityForm="ngForm" (ngSubmit)="onSubmit()">
		<app-text-field
			labelFor="name"
			labelContent="Titre de l'activité :"
			type="text"
			id="name"
			name="name"
			[form]="addActivityForm"
			[(ngModel)]="newActivity.name"
			class="input-activity-form"
		></app-text-field>

		<app-input-date
			labelFor="date"
			labelContent="Date de l'activité :"
			inputId="date"
			id="date"
			name="date"
			[showIcon]="true"
			#date="ngModel"
			[(ngModel)]="newActivity.date"
		></app-input-date>

		<app-input-hour
			labelFor="date"
			labelContent="Heure de l'activité :"
			inputId="hour"
			id="hour"
			name="hour"
			#hour="ngModel"
			[(ngModel)]="newActivity.hour"
		></app-input-hour>

		<label for="">Département</label>
		<app-select-department
			id="departments"
			inputId="departments"
			name="departments"
			#departments="ngModel"
			[(ngModel)]="departments"
		></app-select-department>

		<app-select-city
			labelFor="city"
			labelContent="Lieu :"
			id="city"
			inputId="city"
			name="activityCity"
			#activityCity="ngModel"
			[(ngModel)]="newActivity.activityCity"
		>
		</app-select-city>

		<app-select-category
			labelFor="categoryId"
			labelContent="Catégorie :"
			id="categoryId"
			inputId="categoryId"
			name="categoryId"
			#category="ngModel"
			[(ngModel)]="newActivity.categoryId"
		></app-select-category>

		<app-select-number
			labelFor="nbGuest"
			labelContent="Nbre de participants :"
			inputId="nbGuest"
			name="nbGuest"
			#nbGuest="ngModel"
			[(ngModel)]="newActivity.nbGuest"
		></app-select-number>

		<app-textarea
			labelFor="description"
			labelContent="Description de l'évènement :"
			id="description"
			name="description"
			[cols]="5"
			[rows]="5"
			#description="ngModel"
			[form]="addActivityForm"
			[(ngModel)]="newActivity.description"
		></app-textarea>

		<p>img</p>
		<i class="pi pi-download" style="font-size: 1.5rem"></i>

		<input
			inputId="imgUrl"
			name="imgUrl"
			#imgUrl="ngModel"
			[(ngModel)]="newActivity.imgUrl"
			type="file"
			class="file-upload"
		/>

		<app-text-field
			labelFor="link"
			labelContent="Lien :"
			type="url"
			id="link"
			name="link"
			[form]="addActivityForm"
			[(ngModel)]="newActivity.link"
		></app-text-field>

		<div>
			<p-button
				[raised]="true"
				rounded
				(click)="onModal()"
				icon="pi pi-check"
				label="Poster"
			></p-button>
			<

			<app-modal-confirm-creat-activity
				[myForm]="addActivityForm"
			></app-modal-confirm-creat-activity>
		</div>
	</form>
</app-layout-split>
