.form-control {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0rem;
}

label {
	font-family: var(--font-family-primary);
	margin-bottom: 0.4rem;
	color: var(--black-color);
}

:host ::ng-deep .p-calendar {
	width: 100%;

	.p-inputtext {
		border-radius: 0.35rem;
		background-color: var(--gray-500);
		border: 1px solid var(--gray-200);
		height: 45px;
		margin-bottom: 0.2rem;
	}

	.pi {
		color: var(--black-color);
	}

	.p-datepicker .p-datepicker-header .p-datepicker-prev,
	.p-datepicker .p-datepicker-header .p-datepicker-next {
		color: var(--black-color);
	}

	.p-datepicker-calendar {
		th span {
			color: var(--black-color);
		}

		td span {
			color: var(--black-color);

			&.p-highlight {
				background-color: var(--primary-color);
				color: var(--white-color);
			}

			&.p-disabled {
				opacity: 0.3;
			}
		}
	}
}
