.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: aliceblue;
	background-color: var(--primary-color);
	height: 70px;
	font-weight: bold;
	border-radius: 60px 60px 0px 0px;
}
a {
	color: aliceblue;
}
