<app-auth-layout
	pageTitle="Inscription"
	backgroundImage="/assets/photos/signup.jpg"
	[redirect]="redirect"
>
	<app-stepper-register
		[newUserAuth]="newUserAuth"
		[newUserPersonalInfos]="newUserPersonalInfos"
		(sendStepValueToParent)="onChangeStep($event)"
		(register)="onRegister()"
	>
		<form #registerForm="ngForm" (ngSubmit)="onSubmit()" firstStep>
			<app-text-field
				labelFor="username"
				labelContent="Nom d'utilisateur :"
				type="text"
				id="username"
				name="username"
				[(ngModel)]="newUserAuth.username"
				[form]="registerForm"
				[required]="true"
				[minlength]="3"
				[maxlength]="50"
			></app-text-field>

			<app-text-field
				labelFor="email"
				labelContent="Email :"
				type="text"
				id="email"
				name="email"
				[(ngModel)]="newUserAuth.email"
				[form]="registerForm"
				[required]="true"
				[email]="true"
			></app-text-field>

			<app-password-field
				labelFor="password"
				labelContent="Password :"
				id="password"
				name="password"
				[(ngModel)]="newUserAuth.password"
				[form]="registerForm"
				[required]="true"
				[minlength]="3"
				[maxlength]="50"
			></app-password-field>

			<app-password-field
				labelFor="passwordConfirm"
				labelContent="Confirmation de votre mot de passe :"
				id="passwordConfirm"
				name="passwordConfirm"
				[(ngModel)]="newUserAuth.passwordConfirm"
				[form]="registerForm"
				[required]="true"
				[minlength]="3"
				[maxlength]="50"
			></app-password-field>
		</form>

		<form
			#registerPersonalInfosForm="ngForm"
			(ngSubmit)="onSubmit()"
			secondStep
		>
			<app-text-field
				labelFor="lastname"
				labelContent="Nom : *"
				type="text"
				id="lastname"
				name="lastname"
				[(ngModel)]="newUserPersonalInfos.lastname"
				[form]="registerPersonalInfosForm"
				[required]="true"
				[minlength]="3"
				[maxlength]="50"
			></app-text-field>

			<app-text-field
				labelFor="firstname"
				labelContent="Firstname :"
				type="text"
				id="firstname"
				name="firstname"
				[(ngModel)]="newUserPersonalInfos.firstname"
				[form]="registerPersonalInfosForm"
				[required]="true"
				[minlength]="3"
				[maxlength]="50"
			></app-text-field>

			<app-text-field
				labelFor="phone"
				labelContent="Téléphone :"
				type="text"
				id="phone"
				name="phone"
				[(ngModel)]="newUserPersonalInfos.phone"
				[form]="registerPersonalInfosForm"
				[required]="true"
			></app-text-field>

			<app-text-field
				labelFor="birthdate"
				labelContent="Date de naissance :"
				type="text"
				id="birthdate"
				name="birthdate"
				[(ngModel)]="newUserPersonalInfos.birthdate"
				[form]="registerPersonalInfosForm"
				[required]="true"
			></app-text-field>

			<app-select-department
				labelFor="departement"
				labelContent="Département :"
				id="departement"
				inputId="departement"
				name="departement"
				[required]="true"
				#departement="ngModel"
				[(ngModel)]="newUserPersonalInfos.department"
			></app-select-department>

			<app-text-field
				labelFor="streetNumber"
				labelContent="N° de rue :"
				type="text"
				id="streetNumber"
				name="streetNumber"
				[(ngModel)]="newUserPersonalInfos.streetNumber"
				[form]="registerPersonalInfosForm"
				[required]="true"
			></app-text-field>

			<app-text-field
				labelFor="street"
				labelContent="Rue :"
				type="text"
				id="street"
				name="street"
				[(ngModel)]="newUserPersonalInfos.street"
				[form]="registerPersonalInfosForm"
				[required]="true"
			></app-text-field>

			<app-text-field
				labelFor="postalCode"
				labelContent="Code postal :"
				type="text"
				id="postalCode"
				name="postalCode"
				[(ngModel)]="newUserPersonalInfos.postalCode"
				[form]="registerPersonalInfosForm"
				[required]="true"
			></app-text-field>

			<app-select-city
				labelFor="city"
				labelContent="Ville :"
				id="city"
				inputId="city"
				name="activityCity"
				[required]="true"
				[(ngModel)]="newUserPersonalInfos.city"
			>
			</app-select-city>

			<app-textarea
				labelFor="firstname"
				labelContent="Firstname :"
				id="firstname"
				name="firstname"
				[rows]="5"
				[(ngModel)]="newUserPersonalInfos.description"
				[form]="registerPersonalInfosForm"
				[minlength]="20"
				[maxlength]="500"
			></app-textarea>

			<app-select-category
				labelFor="categoryIds"
				labelContent="Centres d'interêts :"
				id="categoryIds"
				inputId="categoryIds"
				name="categoryIds"
				[required]="true"
				#category="ngModel"
				[(ngModel)]="newUserPersonalInfos.categoryIds"
			></app-select-category>
		</form>
	</app-stepper-register>

	<app-divider align="center" type="solid" text="ou"></app-divider>

	<div class="btn-social-container">
		<ng-container *ngFor="let providerName of providerNameList">
			<app-button-social [providerName]="providerName.name"></app-button-social>
		</ng-container>
	</div>
</app-auth-layout>
