<ng-container *ngIf="items$ | async as items">
	<p-menubar [model]="items" class="menubar">
		<ng-template pTemplate="start">
			<img
				src="/assets/photos/logoSortieFacile.png"
				height="40"
				class="mr-2"
				alt="logo of sortie facile"
			/>
		</ng-template>

		<app-auth-menu></app-auth-menu>
		<ng-container>
			<li class="p-menuitem p-menuitem-custom" *ngIf="isAdmin">
				<a [routerLink]="[fullBookingRouteEnum.MAIL]">
					<i class="pi pi-envelope"></i>
					<!-- Icône d'enveloppe -->
				</a>
			</li>
		</ng-container>
	</p-menubar>
</ng-container>
