<ng-container *ngIf="items$ | async as items">
	<p-menubar [model]="items" class="menubar">
		<ng-template pTemplate="start">
			<img
				src="/assets/photos/logoSortieFacile.png"
				height="40"
				class="mr-2"
				alt="logo of sortie facile"
			/>
		</ng-template>
		<div class="user">
			<div class="mail" *ngIf="isAdmin">
				<i
					class="pi pi-envelope p-text-secondary"
					style="font-size: 1.5rem"
					severity="danger"
					[routerLink]="[fullBookingRouteEnum.MAIL]"
				></i>
				<div *ngIf="newMail" class="red-dot"></div>
			</div>
			<app-auth-menu></app-auth-menu>
		</div>
	</p-menubar>
</ng-container>
