<ng-container *ngIf="items$ | async as items">
	<p-menubar [model]="items" class="menubar">
		<ng-template pTemplate="start">
			<img
				src="/assets/photos/logoSortieFacile.png"
				height="40"
				class="mr-2"
				alt="logo of sortie facile"
			/>
		</ng-template>

		<div class="user">
			<div class="notif">
				<p-button icon="pi pi-bell" [rounded]="true" [text]="true" />
				<div *ngIf="newActivity" class="red-dot"></div>
			</div>

			<div class="mail" *ngIf="isAdmin">
				<p-button
					icon="pi pi-envelope"
					[rounded]="true"
					[text]="true"
					[routerLink]="[fullBookingRouteEnum.MAIL]"
				/>
				<div *ngIf="newMail" class="red-dot"></div>
			</div>

			<app-auth-menu></app-auth-menu>
		</div>
	</p-menubar>
</ng-container>
