<div class="container">
	<app-layout-header
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
	></app-layout-header>

	<div class="dashboard-content">
		<div class="dashboard-nav-mobile-box">
			<app-layout-nav-responsive></app-layout-nav-responsive>
		</div>

		<div class="dashboard-nav-box">
			<app-layout-nav [items]="items"></app-layout-nav>
		</div>

		<div class="dashboard-primary-content">
			<ng-content></ng-content>
		</div>
	</div>
</div>
