<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <app-text-field
    labelFor="username"
    labelContent="Nom d'utilisateur :"
    type="text"
    id="username"
    name="username"
    [(ngModel)]="connectedUser.username"
    required
    minlength="3"
    maxlength="10"
    errorMessage="error de champs"
    [error]="loginForm?.controls?.['username']?.errors"
  ></app-text-field>

  <app-text-field
    labelFor="email"
    labelContent="email :"
    type="email"
    id="email"
    name="email"
    [(ngModel)]="connectedUser.email"
    required
    email
    errorMessage="error de champs"
    [error]="loginForm?.controls?.['email']?.errors"
  ></app-text-field>

  <app-password-field
    labelFor="password"
    labelContent="Password :"
    id="password"
    name="password"
    [(ngModel)]="connectedUser.password"
    required
    minlength="8"
    maxlength="25"
    errorMessage="error de champs"
    [error]="loginForm?.controls?.['password']?.errors"
  ></app-password-field>

  <div class="btn-container">
    <p-button type="submit" icon="pi pi-arrow-right"></p-button>
  </div>
</form>
