:host ::ng-deep p-button .p-button {
	.pi {
		font-size: 1.3rem;
	}
}

:host ::ng-deep p-tieredmenu {
	.p-tieredmenu.p-tieredmenu-overlay {
		padding: 0rem;

		.p-menuitem-link {
			padding: 1rem 0.75rem;

			&:first-child {
				border-bottom: 1px solid var(--gray-500);
			}

			.p-menuitem-text {
				font-family: 'Inter var', sans-serif;
			}
		}
	}
}

.icon {
	display: flex;
	flex-direction: row;
	color: aliceblue;
}

.green-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(48, 209, 48);
}

.p-menuitem-icon {
	color: var(--white-color);
}
