<app-auth-layout
	pageTitle="Connexion"
	backgroundImage="/assets/photos/signin.jpg"
	[redirect]="redirect"
>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
		<app-global-form-error
			*ngIf="errorLoginQueryMessage"
			[errorMessage]="errorLoginQueryMessage"
		></app-global-form-error>

		<app-text-field
			labelFor="email"
			labelContent="Email :"
			type="text"
			id="email"
			name="email"
			fieldName="email"
			[(ngModel)]="userCredentials.email"
			[form]="loginForm"
		></app-text-field>

		<app-password-field
			labelFor="password"
			labelContent="Password :"
			id="password"
			name="password"
			fieldName="password"
			[(ngModel)]="userCredentials.password"
			[form]="loginForm"
		></app-password-field>

		<div class="forgot-password-link-container">
			<a [routerLink]="['/']" class="forgot-password-link"
				>Mot de passe oublié ?</a
			>
		</div>

		<div class="btn-container">
			<p-button
				type="submit"
				label="Revenir"
				icon="pi pi-arrow-right"
				iconPos="right"
			></p-button>
		</div>
	</form>

	<app-divider align="center" type="solid" text="ou"></app-divider>

	<div class="btn-social-container">
		<ng-container *ngFor="let providerName of providerNameList">
			<app-button-social [providerName]="providerName.name"></app-button-social>
		</ng-container>
	</div>
</app-auth-layout>
