.contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.title-contact {
	display: flex;
}
.activity-form-container {
	width: 100%;
	max-width: none;
	padding: 1rem 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.img-box {
	display: flex;
	width: 100%;

	img {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.contact {
		flex-direction: row;
		margin-bottom: 131px;
	}

	.title-contact {
		display: flex;
		margin-bottom: 131px;
	}

	.activity-form-container {
		width: 40%;
		max-width: none;
		padding: 1rem 3rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		border: none;
	}

	.img-box {
		display: flex;
		width: 60%;
		min-height: calc(100vh - 84px);
		img {
			width: 100%;
		}
	}
}
