<div class="container">
	<app-layout-split
		pageTitle="Laissez nous un message"
		backgroundImage="/assets/photos/contact.jpg"
	>
		<form
			#contactForm="ngForm"
			(ngSubmit)="onSubmit(contactForm)"
			class="activity-form"
		>
			<div *ngIf="connectedUser && connectedUser.username">
				<app-avatar-pseudo></app-avatar-pseudo>
			</div>

			<app-text-field
				labelFor="email"
				labelContent="Email"
				id="Email"
				name="Email"
				[required]="true"
				#Email="ngModel"
				[form]="contactForm"
				[(ngModel)]="formData.Email"
				class="input-activity-form"
			></app-text-field>

			<app-text-field
				labelFor="title"
				labelContent="Sujet"
				inputId="title"
				name="title"
				[required]="true"
				#title="ngModel"
				[form]="contactForm"
				[(ngModel)]="formData.title"
			></app-text-field>

			<app-textarea
				labelFor="message"
				labelContent="Votre message"
				inputId="message"
				name="message"
				[rows]="5"
				[required]="true"
				#message="ngModel"
				[form]="contactForm"
				[(ngModel)]="formData.message"
			></app-textarea>

			<div class="btn-container">
				<app-button-form
					iconName="arrow-right"
					(click)="onModal()"
				></app-button-form>

				<app-modal-confirm-contact
					[myForm]="contactForm"
				></app-modal-confirm-contact>
			</div>
		</form>
	</app-layout-split>
</div>
