<p-stepper>
	<p-stepperPanel header="Étape 1">
		<ng-template
			pTemplate="content"
			let-nextCallback="nextCallback"
			let-index="index"
		>
			<div>
				<ng-content select="[firstStep]"></ng-content>
			</div>

			<div class="btn-box btn-box-right">
				<p-button
					label="Continuez"
					icon="pi pi-arrow-right"
					iconPos="right"
					(click)="onClick(2); nextCallback.emit()"
				></p-button>
			</div>
		</ng-template>
	</p-stepperPanel>

	<p-stepperPanel header="Étape 2">
		<ng-template
			pTemplate="content"
			let-prevCallback="prevCallback"
			let-nextCallback="nextCallback"
			let-index="index"
		>
			<div>
				<ng-content select="[secondStep]"></ng-content>
			</div>

			<div class="btn-box btn-box-between">
				<app-button-form
					iconName="arrow-left"
					(click)="onClick(1); prevCallback.emit()"
				></app-button-form>

				<app-button-form
					iconName="arrow-right"
					(click)="onRegister()"
				></app-button-form>
			</div>
		</ng-template>
	</p-stepperPanel>
</p-stepper>
