<p-stepper [linear]="true">
	<p-stepperPanel header="Étape 1">
		<ng-template
			pTemplate="content"
			let-nextCallback="nextCallback"
			let-index="index"
		>
			<div>
				<ng-content select="[firstStep]"></ng-content>
			</div>

			<div class="btn-box btn-box-right">
				<p-button
					label="Continuer"
					icon="pi pi-arrow-right"
					iconPos="right"
					(click)="onClick(2); nextCallback.emit()"
				></p-button>
			</div>
		</ng-template>
	</p-stepperPanel>

	<p-stepperPanel header="Étape 2">
		<ng-template
			pTemplate="content"
			let-prevCallback="prevCallback"
			let-nextCallback="nextCallback"
			let-index="index"
		>
			<div>
				<ng-content select="[secondStep]"></ng-content>
			</div>

			<div class="btn-box btn-box-between">
				<p-button
					label="Revenir"
					icon="pi pi-arrow-left"
					iconPos="left"
					(click)="onClick(1); prevCallback.emit()"
				></p-button>

				<p-button
					label="Finir l'inscription"
					icon="pi pi-arrow-right"
					iconPos="right"
					(click)="onRegister()"
				></p-button>
			</div>
		</ng-template>
	</p-stepperPanel>
</p-stepper>
