<app-account-container-content
	sectionTitle="Modifier mon mot de passe"
	[hideBtn]="true"
>
	<form
		#accountPasswordForm="ngForm"
		(ngSubmit)="onSubmit(accountPasswordForm)"
		data
	>
		<app-password-field
			labelFor="password"
			labelContent="Mot de passe actuelle :"
			id="password"
			name="password"
			[(ngModel)]="accountPasswordFormDatas.oldPassword"
			[form]="accountPasswordForm"
			[required]="true"
			[minlength]="8"
			[maxlength]="50"
		></app-password-field>

		<app-password-field
			labelFor="password"
			labelContent="Nouveau mot de passe :"
			id="password"
			name="password"
			[(ngModel)]="accountPasswordFormDatas.newPassword"
			[form]="accountPasswordForm"
			[required]="true"
			[minlength]="8"
			[maxlength]="50"
			inputInfo="Minimum 8 caractères."
		></app-password-field>

		<app-password-field
			labelFor="password"
			labelContent="Confirmer le nouveau mot de passe :"
			id="password"
			name="password"
			[(ngModel)]="accountPasswordFormDatas.confirmNewPassword"
			[form]="accountPasswordForm"
			[required]="true"
			[minlength]="8"
			[maxlength]="50"
		></app-password-field>

		<div class="btn-form-box">
			<p-button label="Sauvegarder" [rounded]="true" type="submit" />
		</div>
	</form>
</app-account-container-content>
