:host ::ng-deep p-confirmdialog {
	.p-dialog-mask {
		background-color: rgba(0, 0, 0, 0.75);
		z-index: 1000000;
	}
	.p-dialog {
		align-items: center;
		border-radius: 20px;
		width: 100%;
		max-width: 510px;
		background-color: var(--white-color);

		.p-dialog-header {
			display: flex;
			justify-content: center;
			width: 90%;
			padding-top: 2.5rem;

			.p-dialog-title {
				display: block;
				color: var(--black-color);
				font-size: 1.5rem;
			}
		}

		.p-dialog-content {
			display: flex;
			justify-content: center;
			gap: 1rem;

			p {
				color: var(--black-color);
				text-align: center;
			}
		}

		.p-dialog-footer {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 2.5rem;

			button {
				border-radius: 10px;
				border: 2px solid var(--primary-color);

				&.p-confirm-dialog-reject {
					background-color: transparent;
					color: var(--primary-color);
				}
			}
		}
	}

	.p-dialog .p-dialog-header .p-dialog-header-icon {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: var(--primary-color);
		border-radius: 100%;
		background: #d4dbe9;
	}
}
