<div>
	<input type="file" (change)="onFileSelected($event)" />
	<button (click)="onUpload()">Uplotg§vyad</button>
	<div *ngIf="downloadURL | async as url">
		<p>File uploaded successfully. Download URL:</p>
		<a [href]="url" target="_blank">{{ url }}</a>
	</div>
</div>

<!-- <p-fileUpload
	mode="basic"
	chooseLabel="Choose"
	chooseIcon="pi pi-upload"
	[name]="name"
	url="https://www.primefaces.org/cdn/api/upload.php"
	accept="image/*"
	maxFileSize="1000000"
	(onUpload)="onUpload($event)"
/> -->
