<div class="banner">
	<img class="img-banner" src="assets/photos/activity-list.jpg" alt="" />
	<h1>Découvrez nos activités</h1>
</div>

<div class="container">
	<div
		class="filters-box"
		[ngClass]="{
			active: showResponsiveFilters
		}"
	>
		<label for="">Rechercher</label>
		<app-search-bar
			[searchedValue]="searchedValue"
			(emitChanges)="onSearch($event)"
		></app-search-bar>

		<app-divider [align]="'center'" [type]="'solid'"></app-divider>

		<div class="others-filters-box">
			<app-select-category
				labelFor="categoryId"
				labelContent="Catégories"
				id="categoryId"
				inputId="categoryId"
				name="categoryId"
				#categoryId="ngModel"
				[(ngModel)]="selectedCategoryId"
			></app-select-category>

			<app-select-department
				labelFor="departments"
				labelContent="Département"
				id="departments"
				inputId="departments"
				name="departments"
				#departments="ngModel"
				[(ngModel)]="selectedDepartments"
			></app-select-department>

			<label for="">Région</label>
			<app-select-region></app-select-region>
			<label for="">City</label>
			<app-select-city></app-select-city>
			<p-button
				(click)="onResetFilters()"
				Style="margin-top: 10px;"
				[raised]="true"
				rounded
				>Réinitialiser</p-button
			>
		</div>
	</div>

	<div class="activities-box">
		<app-activity-list-management
			[searchedValue]="searchedValue"
			[selectedCategoryId]="selectedCategoryId"
			[selectedDepartments]="selectedDepartments"
			(showFilterInMobileEmitter)="onShowFilters($event)"
			(resetFilterEmitter)="onResetFilters()"
		></app-activity-list-management>
	</div>
</div>
