.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 1920px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;

	h1 {
		margin-top: 2rem;
		margin-bottom: 0;
	}

	.img-banner {
		width: 100%;
		height: 340px;
		object-fit: cover;
		object-position: top center;
	}

	@media (min-width: 768px) {
		padding: 1.5rem;

		.img-banner {
			height: 340px;
			object-position: center;
		}
	}

	@media (min-width: 992px) {
		flex-direction: row;

		h1 {
			order: 1;
		}

		.img-banner {
			height: 340px;
			object-position: top center;
			order: 2;
		}
	}

	@media (min-width: 1280px) {
		.img-banner {
			height: 400px;
			object-position: top center;
		}
	}

	@media (min-width: 1920px) {
		.img-banner {
			height: 450px;
			object-position: top center;
		}
	}
}

.container {
	position: relative;
	display: flex;
	gap: 1rem;
	max-width: 1920px;
	width: 100%;
	padding: 1.5rem;
	margin: 0 auto;
	padding-top: 2.5rem;

	@media (min-width: 992px) {
		padding-top: 2.5rem;
	}
}

.content-box {
	display: flex;
	gap: 1rem;
}

:host ::ng-deep .filters-box {
	position: absolute;
	top: 5.3rem;
	left: -100%;
	z-index: 10000;
	background-color: var(--white-color);
	width: 50%;
	border-radius: 10px;
	padding: 1rem;
	z-index: 10000;

	&.active {
		left: calc(0% + 1.5rem);
	}

	.others-filters-box {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
	}

	app-search-bar {
		width: 100%;

		.p-inputtext {
			width: 100%;
		}
	}

	label {
		color: var(--black-color);
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	@media (min-width: 992px) {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: rgba(103, 11, 255, 0.05);
		left: 0;
		top: 0;
		width: 30%;

		&.active {
			left: 0;
		}
	}
}

:host ::ng-deep .activities-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	app-activity-card {
		width: calc(100% - 2rem);
		max-width: 400px;
		display: flex;
		align-items: center;
	}

	@media (min-width: 768px) {
		app-activity-card {
			width: calc((100% / 2) - 1rem);
			max-width: none;
		}
	}

	@media (min-width: 992px) {
		app-activity-card {
			width: calc((100% / 2) - 1rem);
		}
	}

	@media (min-width: 1280px) {
		app-activity-card {
			width: calc((100% / 3) - 1rem);
		}
	}

	@media (min-width: 1920px) {
		app-activity-card {
			width: calc((100% / 4) - 1rem);
		}
	}
}

app-activity-list-management {
	width: 100%;
}
