<div class="banner">
	<img class="img-banner" src="assets/photos/banner.jpg" alt="" />
	<h1>Découvrez nos activités</h1>
</div>

<div class="container">
	<div class="filters-box">
		<label for="">Rechercher</label>
		<app-search-bar (emitChanges)="onSearch($event)"></app-search-bar>

		<app-divider [align]="'center'" [type]="'solid'"></app-divider>

		<label for="">Catégories</label>
		<app-select-category
			id="categoryId"
			inputId="categoryId"
			name="categoryId"
			#categoryId="ngModel"
			[(ngModel)]="selectedCategoryId"
		></app-select-category>

		<label for="">Département</label>
		<app-select-department
			id="departments"
			inputId="departments"
			name="departments"
			#departments="ngModel"
			[(ngModel)]="selectedDepartments"
		></app-select-department>

		<label for="">Région</label>
		<app-select-region></app-select-region>
		<label for="">City</label>
		<app-select-city></app-select-city>
		<p-button Style="margin-top: 10px;" [raised]="true" rounded
			>Réinitialiser</p-button
		>
	</div>

	<div class="activities-box">
		<app-activity-list-management
			[searchedValue]="searchedValue"
			[selectedCategoryId]="selectedCategoryId"
			[selectedDepartments]="selectedDepartments"
		></app-activity-list-management>
	</div>
</div>
