.container {
	display: flex;
	gap: 1rem;
	max-width: 1920px;
	width: 100%;
	padding: 1.5rem;
	margin: 0 auto;
	padding-top: 4rem;
}

.content-box {
	display: flex;
	gap: 1rem;
}

.filters-box {
	display: flex;
	flex-direction: column;
	background-color: rgba(103, 11, 255, 0.05);
	width: 30%;
	border-radius: 10px;
	padding: 1rem;

	label {
		color: var(--black-color);
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}
}

.activities-box {
	width: 100%;
	display: flex;
	flex-direction: column;
}
