p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.card-info {
	width: 100%;

	h5 {
		font-size: 0.95rem;
		color: black;
		font-weight: normal;
		margin-bottom: 0.45rem;
	}

	p {
		font-weight: bold;

		font-size: 0.85rem;
		color: var(--black-color);
	}
}
