<!-- <div class="container">
	<app-layout-header
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
	></app-layout-header>

	<div class="account-content">
		<div class="account-nav-mobile-box">
			<app-layout-nav-responsive></app-layout-nav-responsive>
		</div>

		<div class="account-nav-box">
			<app-layout-nav></app-layout-nav>

			<div class="delete-box">
				<p-button
					*ngIf="showDEleteBtn"
					severity="danger"
					[text]="true"
					rounded
					(click)="onModal()"
					class="delete-link"
					>Supprimer mon compte
				</p-button>
			</div>
		</div>

		<div class="account-primary-content">
			<ng-content></ng-content>
		</div>
	</div>
</div>

<app-modal-confirm-delete-account
	[connectedUser]="connectedUser"
></app-modal-confirm-delete-account> -->
