<div class="container">
  <div class="account-top">
    <div class="top-avatar-box">
      <img src="/assets/photos/avatar.jpg" alt="" />
    </div>

    <div class="top-content">
      <h1>
        <span>Jerem</span>
        <span class="separator">/</span>
        <span>General</span>
      </h1>
      <h6>Mettre à jour mes données d’authentification</h6>
    </div>
  </div>

  <div class="account-content">
    <div class="account-nav-box">
      <nav class="account-nav">
        <ul>
          <li class="selected">
            <span>General</span>
          </li>

          <li>
            <a [routerLink]="['/']">Edit profil</a>
          </li>

          <li>
            <a [routerLink]="['/']">Password</a>
          </li>

          <li>
            <a [routerLink]="['/']">Centres d’interêts </a>
          </li>

          <li>
            <a [routerLink]="['/']">Notifications</a>
          </li>

          <li>
            <a [routerLink]="['/']">Mes activités</a>
          </li>

          <li>
            <a [routerLink]="['/']">Mon calendrier</a>
          </li>
        </ul>
      </nav>

      <div class="delete-box">
        <a [routerLink]="['/']" class="delete-link">Supprimer mon compte </a>
      </div>
    </div>

    <div class="account-primary-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
