<div class="navbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="/assets/photos/logoSortieFacile.png" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        placeholder="Search"
        class="w-full"
      /> </ng-template
  ></p-menubar>
</div>
<div class="bottom-navbar">ghj</div>

<router-outlet></router-outlet>

<div class="card flex justify-content-center">
  <p-button label="Check"></p-button>
</div>
