<p-carousel
	[value]="activityList"
	[numVisible]="4"
	[numScroll]="1"
	[circular]="false"
	[responsiveOptions]="responsiveOptions"
>
	<ng-template let-activity pTemplate="item">
		<div
			class="carousel-card"
			[routerLink]="['/activity/details/', activity.id]"
		>
			<div class="carousel-img">
				<img
					[src]="
						activity.imgUrl !== ''
							? activity.imgUrl
							: '/assets/photos/no-image.jpg'
					"
					alt=""
				/>
			</div>
			<h4 class="card-title">{{ activity.name }}</h4>
		</div>
	</ng-template>
</p-carousel>
