.functioning-card {
  background-color: var(--gray-500);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;

  h4 {
    font-size: 1.025rem;
    color: var(--black-color);
    margin: 0;
    margin-bottom: 0.85rem;
  }

  p {
    color: var(--black-color);
    font-size: 0.85rem;
    margin: 0;
    margin-bottom: 0.85rem;
  }

  .img-box {
    width: 70%;

    img {
      width: 100%;
      max-width: 100px;
    }
  }

  a {
    color: var(--primary-color);
    font-size: 0.85rem;
    margin: 0;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 768px) AND (max-width: 960px) {
    .img-box {
      display: none;
    }
  }

  @media (min-width: 960px) {
    justify-content: space-around;

    .functioning-card {
      .img-box {
        display: none;
      }
    }
  }

  @media (min-width: 1280px) {
    justify-content: space-around;
    gap: 2.5rem;

    .img-box {
      width: 30%;

      img {
        width: 100%;
        max-width: 150px;
      }
    }
  }
}
