<div class="container">
	<app-account-layout
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="connectedUser.username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
	>
		<app-account-container-content
			sectionTitle="Infos personnelles"
			(sendIsViewDatas)="fn($event)"
		>
			<div class="content-box" data *ngIf="userDetails$ | async as userDetails">
				<app-account-card-info
					title="Prénom"
					[content]="userDetails.first_name"
					[isViewDatas]="isViewDatas"
				>
					<app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="firstname"
						name="firstname"
					></app-text-field>
				</app-account-card-info>

				<app-account-card-info
					title="Nom de famille"
					[content]="userDetails.last_name"
					[isViewDatas]="isViewDatas"
				>
					<app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="lastname"
						name="lastname"
					></app-text-field
				></app-account-card-info>

				<app-account-card-info
					title="Email"
					[content]="connectedUser.email"
					[isViewDatas]="isViewDatas"
					><app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="firstname"
						name="firstname"
					></app-text-field
				></app-account-card-info>

				<app-account-card-info
					title="Téléphone"
					[content]="userDetails.phone"
					[isViewDatas]="isViewDatas"
					><app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="phone"
						name="phone"
					></app-text-field
				></app-account-card-info>

				<app-account-card-info
					title="Date de naissance"
					[content]="connectedUser.email"
					[isViewDatas]="isViewDatas"
					><app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="date"
						name="date"
					></app-text-field
				></app-account-card-info>

				<app-account-card-info
					title="Genre"
					content="Masculin"
					[isViewDatas]="isViewDatas"
					><app-text-field
						*ngIf="!isViewDatas"
						input
						type="text"
						id="genre"
						name="genre"
					></app-text-field
				></app-account-card-info>
			</div>

			<div class="content-box" form>
				<h1>formulaire</h1>
			</div>
		</app-account-container-content></app-account-layout
	>
</div>
