.container {
	max-width: 1920px;
	width: 100%;
	padding: 1.5rem;
	margin: 0 auto;
	padding-top: 4rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

app-account-container-content {
	width: 100%;

	.content-box {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1.2rem;
		margin-top: 1.25rem;

		app-account-card-info {
			width: 100%;
		}

		@media (min-width: 475px) {
			flex-direction: row;

			app-account-card-info {
				width: calc(50% - (2 * 1rem));
			}
		}
	}
}
