<form #registerForm="ngForm">
	<app-text-field
		labelFor="username"
		labelContent="Nom d'utilisateur :"
		type="text"
		id="username"
		name="username"
		[(ngModel)]="newUserAuth.username"
		[form]="registerForm"
		[required]="true"
		[minlength]="3"
		[maxlength]="50"
	></app-text-field>

	<app-text-field
		labelFor="email"
		labelContent="Email :"
		type="text"
		id="email"
		name="email"
		[(ngModel)]="newUserAuth.email"
		[form]="registerForm"
		[required]="true"
		[email]="true"
	></app-text-field>

	<app-password-field
		labelFor="password"
		labelContent="Password :"
		id="password"
		name="password"
		[(ngModel)]="newUserAuth.password"
		[form]="registerForm"
		[required]="true"
		[minlength]="3"
		[maxlength]="50"
	></app-password-field>

	<app-password-field
		labelFor="passwordConfirm"
		labelContent="Confirmation de votre mot de passe :"
		id="passwordConfirm"
		name="passwordConfirm"
		[(ngModel)]="newUserAuth.passwordConfirm"
		[form]="registerForm"
		[required]="true"
		[minlength]="3"
		[maxlength]="50"
	></app-password-field>
</form>
