<div class="container">
	<div class="hero-box">
		<div class="hero-mask"></div>
		<header>
			<div class="hero-img-box">
				<img src="assets/photos/logoSortieFacile.png" alt="logo" />
			</div>

			<nav>
				<ul>
					<li *ngIf="!connectedUser.username">
						<p-button [routerLink]="['/auth/login']" [text]="true"
							>Connexion</p-button
						>
					</li>

					<li *ngIf="!connectedUser.username">
						<p-button [routerLink]="['/auth/register']" [text]="true"
							>Inscription</p-button
						>
					</li>

					<li *ngIf="connectedUser.username">
						<p-button [routerLink]="[fullUserRouteEnum.ACTIVITY]" [text]="true"
							>Mon compte</p-button
						>
					</li>

					<li *ngIf="connectedUser.username">
						<p-button (click)="logout()" [text]="true">Déconnexion</p-button>
					</li>
				</ul>
			</nav>
		</header>

		<div class="hero-content-box">
			<div class="hero-content-text">
				<div class="hero-content-elements-box">
					<div class="title-content">
						<h1>
							<span>Sortie facile</span>
							<span>Ensemble, c'est mieux!</span>
						</h1>
						<!-- <img src="/assets/photos/logoSortieFacile.png" alt="logo"> -->
					</div>

					<p-divider></p-divider>
					<p>
						Ne cherchez plus, trouvez des amis pour chacune de vos activités!
						<br />
						Rencontrez, partagez, et surtout amusez-vous!
					</p>

					<div class="btn-box">
						<p-button
							label="Découvrir"
							icon="pi pi-arrow-right"
							iconPos="right"
							[rounded]="true"
							severity="primary"
							[outlined]="true"
							(click)="scrollToFunctioningBox()"
						></p-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="functioning-box" #functioningBox>
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Comment ça marche ?</h3>
			</div>

			<div class="section-content">
				<ng-container
					*ngFor="let functionimgData of functionimgDatas; let i = index"
				>
					<app-card-landing-small
						[imgSrc]="functionimgData.imgSrc"
						[imgAlt]="functionimgData.imgAlt"
						[title]="functionimgData.title"
						[description]="functionimgData.description"
						[link]="functionimgData.link"
						[linkLabel]="functionimgData.linkLabel"
						[number]="i + 1"
					></app-card-landing-small>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="discover-box section-dark">
		<div class="mask"></div>
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Pourquoi nous rejoindre ?</h3>
			</div>

			<div class="section-content">
				<app-card-landing-large
					title="Notre concept ?"
					description="Découvrez et réservez une variété d'activités passionnantes près de chez vous grâce à notre plateforme. Que ce soit lorsque vous venez d'emménager dans la région et que vous ne connaissez personne ou que tous vos amis sont occupés, notre site vous propose une sélection d'expériences uniques adaptées à vos intérêts. Explorez de nouvelles activités, rencontrez des passionnés comme vous et partagez des moments mémorables."
					[ctaSecondarylabel]="
						connectedUser.username ? 'Mon compte' : 'Se connecter'
					"
					imgSrc="assets/photos/home-2.jpg"
					imgLabel=""
					[connectedUser]="connectedUser.username ? true : false"
				></app-card-landing-large>
			</div>
		</div>
	</section>

	<section class="popular-activity-box">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Activités les plus populaires</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="activityList$ | async as activityList">
					<app-carousel-activity
						[activityList]="activityList"
						[numVisible]="6"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					></app-carousel-activity>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="popular-categories-box section-dark">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Catégories les plus populaires</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="categoryList$ | async as categoryList">
					<app-carousel-category
						[categoryList]="categoryList"
						[numVisible]="6"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					></app-carousel-category>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="popular-activity-box">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Dernières places à prendre !</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="activityList$ | async as activityList">
					<app-carousel-activity
						[activityList]="activityList"
						[numVisible]="6"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					></app-carousel-activity>
				</ng-container>
			</div>
		</div>
	</section>
	<section class="testimonials-box">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Recommandations</h4>
				<h3 class="section-title">Ils parlent de nous</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="testimonialList$ | async as testimonialList">
					<app-carousel-testimonial
						[testimonialList]="testimonialList"
						[numVisible]="3"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					>
					</app-carousel-testimonial>
				</ng-container>
			</div>
		</div>
	</section>
</div>
