<div class="container">
	<div class="hero-box">
		<div class="hero-mask"></div>
		<header>
			<div class="hero-img-box">
				<img src="assets/photos/logoSortieFacile.png" alt="logo">
			</div>
			<nav>
				<ul>
					<li><a [routerLink]="['/auth/login']">Connexion</a></li>
					<li><a [routerLink]="['/auth/register']">Inscription</a></li>
				</ul>
			</nav>
		</header>
		<div class="hero-content-box">
			<div class="hero-content-text">

				<div class="hero-content-elements-box">
					<div class="title-content">
						<h1>
							<span>Sortie facile</span>
							<span>Ensemble, c'est mieux!</span>
						</h1>
						<!-- <img src="/assets/photos/logoSortieFacile.png" alt="logo"> -->
					</div>
					
					<p-divider></p-divider>
					<p>
						Ne cherchez plus, trouvez des amis pour chacune de vos activités!
						<br />
						Rencontrez, partagez, et surtout amusez-vous!
					</p>

					<div class="btn-box">
						<p-button
							label="Découvrir"
							icon="pi pi-arrow-right"
							iconPos="right"
							[rounded]="true"
							severity="primary"
							[outlined]="true"
							(click)="scrollToFunctioningBox()"
						></p-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="functioning-box" #functioningBox>
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Comment ça marche ?</h3>
			</div>

			<div class="section-content">
				<ng-container
					*ngFor="let functionimgData of functionimgDatas; let i = index"
				>
					<app-card-landing-small
						[imgSrc]="functionimgData.imgSrc"
						[imgAlt]="functionimgData.imgAlt"
						[title]="functionimgData.title"
						[description]="functionimgData.description"
						[link]="functionimgData.link"
						[linkLabel]="functionimgData.linkLabel"
						[number]="i + 1"
					></app-card-landing-small>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="discover-box section-dark">
		<div class="mask"></div>
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Comment ça marche ?</h3>
			</div>

			<div class="section-content">
				<app-card-landing-large
					title="Découvrir les activités"
					description="Danish jelly chocolate bar lollipop cupcake chocolate cake danish oat
            cake cotton candy. Jujubes soufflé lollipop candy canes marzipan jelly-o
            fruitcake caramels. Lollipop chocolate bar topping apple pie dragée.
            Tiramisu dessert jujubes powder chocolate bar cheesecake cookie
            liquorice gummies. Candy canes lollipop liquorice gingerbread cotton
            candy candy cotton candy tootsie roll. Pudding shortbread bear claw
            danish sweet roll sesame snaps cupcake marshmallow tootsie roll. Cookie
            cake lemon drops candy jelly jelly beans pastry. Sugar plum bear claw
            cake jelly-o chocolate bar jelly-o halvah toffee chocolate bar."
					ctaPrimarylabel="Rejoignez nous !"
					ctaSecondarylabel="Se connecter"
					imgSrc="assets/photos/home-2.jpg"
					imgLabel=""
				></app-card-landing-large>
			</div>
		</div>
	</section>

	<section class="popular-activity-box">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Activités les plus populaires</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="activityList$ | async as activityList">
					<app-carousel-activity
						[activityList]="activityList"
						[numVisible]="6"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					></app-carousel-activity>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="popular-categories-box section-dark">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Happy Life Website</h4>
				<h3 class="section-title">Catégories les plus populaires</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="categoryList$ | async as categoryList">
					<app-carousel-category
						[categoryList]="categoryList"
						[numVisible]="6"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					></app-carousel-category>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="testimonials-box">
		<div class="section-content-box">
			<div class="section-header">
				<h4 class="section-subtitle">Recommandations</h4>
				<h3 class="section-title">Ils parlent de nous</h3>
			</div>

			<div class="section-content">
				<ng-container *ngIf="testimonialList$ | async as testimonialList">
					<app-carousel-testimonial
						[testimonialList]="testimonialList"
						[numVisible]="3"
						[numScroll]="1"
						[circular]="false"
						[responsiveOptions]="responsiveOptions"
					>
					</app-carousel-testimonial>
				</ng-container>
			</div>
		</div>
	</section>
</div>
<!-- 
<div class="content-top">
	<div class="img-banner-container">
		<img class="img-banner" src="assets/photos/homebanner.jpeg" alt="" />
	</div>
	<div class="content-top-text">
		<h1>Sortie Facile : Partagez vos sorties !</h1>
	</div>
</div>

<div class="kezako">Kezako ?</div>
<div class="schema-container">
	<div class="schema-text">
		<h3>c'est quoi ?</h3>
		<img class="img-grp" src="assets/photos/schema.png" alt="" />
		<h2 class="envie">Envie de sortir ?</h2>
		<img src="/assets/photos/arrow.png" class="arrow1" alt="arrow" />
		<h2 class="dispo">Personne de disponible</h2>
		<img src="/assets/photos/arrow.png" class="arrow2" alt="arrow" />
		<img
			src="/assets/photos/logoSortieFacile.png"
			height="40"
			class="logo"
			alt="logo of sortie facile"
		/>
		<div class="sf">Sortie Facile !</div>
	</div>
</div>
<h2>Activités les plus populaires</h2>
<div class="content-box" data>
	<app-carousel-activity
		[activityList]="activityList"
		[numVisible]="6"
		[numScroll]="1"
		[circular]="false"
		[responsiveOptions]="responsiveOptions"
	></app-carousel-activity>
</div>

<div class="functioning">
	<div class="comment">Comment ça marche ?</div>
	<div class="functioning-list">
		<ng-container *ngFor="let functionimgData of functionimgDatas">
			<app-card-landing-small
				[imgSrc]="functionimgData.imgSrc"
				[imgAlt]="functionimgData.imgAlt"
				[title]="functionimgData.title"
				[description]="functionimgData.description"
				[link]="functionimgData.link"
				[linkLabel]="functionimgData.linkLabel"
			></app-card-landing-small>
		</ng-container>
	</div>
</div>
<h2>Dernières places à saisir !</h2>

<div class="content-box" data>
	<app-carousel-activity
		[activityList]="activityList"
		[numVisible]="6"
		[numScroll]="1"
		[circular]="false"
	></app-carousel-activity>
</div>
<h3>Découvrir les activités</h3>
<div class="discover-box">
	<app-card-landing-large
		title="Découvrir les activités >"
		description="Danish jelly chocolate bar lollipop cupcake chocolate cake danish oat
            cake cotton candy. Jujubes soufflé lollipop candy canes marzipan jelly-o
            fruitcake caramels. Lollipop chocolate bar topping apple pie dragée.
            Tiramisu dessert jujubes powder chocolate bar cheesecake cookie
            liquorice gummies. Candy canes lollipop liquorice gingerbread cotton
            candy candy cotton candy tootsie roll. Pudding shortbread bear claw
            danish sweet roll sesame snaps cupcake marshmallow tootsie roll. Cookie
            cake lemon drops candy jelly jelly beans pastry. Sugar plum bear claw
            cake jelly-o chocolate bar jelly-o halvah toffee chocolate bar."
		ctaPrimarylabel="Rejoignez nous !"
		ctaSecondarylabel="Se connecter"
		imgSrc="assets/photos/activity-participate.svg"
		imgLabel=""
	></app-card-landing-large>
</div> -->
