.content-top {
	position: relative;
	padding: 2rem 0;
	display: flex;
	justify-content: flex-start; /* Align text to the left */
	align-items: flex-end;
	height: 50vh; /* Adjust the height as needed */
	overflow: hidden;
}

.content-top-text {
	max-width: 500px;
	z-index: 1; /* Make sure the text is above the image */
	padding: 0rem;
	padding-left: 4rem;
	background: rgba(
		0,
		0,
		0,
		0.1
	); /* Optional: add a background for better text visibility */
	color: aliceblue;
}

.content-top-text h2 {
	font-size: 1.35rem;
	margin: 0;
	margin-bottom: 1.5rem;
}

.content-top-text p {
	font-size: 0.85rem;
	margin: 0;
	margin-bottom: 1.25rem;
}

.img-banner-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0; /* Make sure the image is in the background */
}

.img-banner {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

@media (min-width: 768px) {
	.content-top {
		flex-direction: row;
		justify-content: flex-start;
		gap: 1.5rem;
	}
}

@media (min-width: 960px) {
	.content-top {
		gap: 6rem;
	}
}

.schema-container {
	position: relative;
	padding: 2rem 0;
	display: flex;
	justify-content: flex-start; /* Align text to the left */
	align-items: flex-end;
	height: 68vh; /* Adjust the height as needed */
	overflow: hidden;
	background-image: url('assets/photos/fondbleu.png'); /* Background image */
	background-size: contain; /* Adjust the size of the background image */
	background-position: right center; /* Position the background image */
	background-repeat: no-repeat; /* Ensure the image doesn't repeat */
}

.schema-text {
	max-width: 500px;
	z-index: 1; /* Make sure the text is above the image */
	padding: 0rem;
	padding-left: 4rem;
	background: rgba(
		0,
		0,
		0,
		0.1
	); /* Optional: add a background for better text visibility */
	color: black;
}

.schema-text h3 {
	font-size: 1.35rem;
	margin: 0;
	margin-bottom: 1.5rem;
}

.schema-text h2 {
	font-size: 0.85rem;
	margin: 0;
	margin-bottom: 1.25rem;
}

.functioning,
.discover-box {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.discover-box {
	margin-top: 2.5rem;
}

.functioning h3 {
	font-size: 1.15rem;
}

.functioning .functioning-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-bottom: 1.5rem;
	width: 100%;
}

@media (min-width: 768px) and (max-width: 959px) {
	.functioning .functioning-list {
		flex-direction: row;
	}
}

@media (min-width: 960px) {
	.functioning .functioning-list {
		flex-direction: row;
	}
}
