<p-button (click)="showDialog()" label="Show" />
<p-dialog
	header="Filters"
	[modal]="true"
	[draggable]="false"
	[(visible)]="visible"
	[style]="{ width: '25rem' }"
>
	<div class="filters-box">
		<label for="">Rechercher</label>
		<app-search-bar (emitChanges)="onSearch($event)"></app-search-bar>

		<app-divider [align]="'center'" [type]="'solid'"></app-divider>

		<label for="">Catégories</label>
		<app-select-category
			id="categoryId"
			inputId="categoryId"
			name="categoryId"
			#categoryId="ngModel"
			[(ngModel)]="selectedCategoryId"
		></app-select-category>

		<label for="">Département</label>
		<app-select-department
			id="departments"
			inputId="departments"
			name="departments"
			#departments="ngModel"
			[(ngModel)]="selectedDepartments"
		></app-select-department>

		<label for="">Région</label>
		<app-select-region></app-select-region>
		<label for="">City</label>
		<app-select-city></app-select-city>
	</div>

	<div class="btns-box">
		<p-button
			label="Réinitialiser"
			severity="secondary"
			(click)="visible = false"
		/>
		<p-button label="Save" (click)="visible = false" />
	</div>
</p-dialog>
