.activity-card-container {
	display: flex;
	justify-content: space-around;
	margin-block: 20px;
}
.details {
	display: flex;
	justify-content: center;
	width: 80%;
	border: solid 1px;
	border-radius: 20px;
	padding: 40px;
	border-color: #c2c2c2;
}
