dfcyvgubhinjo,k
<div class="details" *ngIf="activity$ | async as activity">
  <!-- <app-activity-card [activity]="activity"></app-activity-card> -->
  <p-card
    [header]="activity.name"
    subheader="Card Subheader"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img alt="{{ activity.name }}" [src]="activity.imgUrl" />
    </ng-template>
    <p>
      {{ activity.description }}
    </p>
    <p>
      {{ getCategoryTitle(activity.categoryId) }}
    </p>

    <ng-template pTemplate="footer">
      <p-button label="S'inscrire" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</div>
