<p>activity-home works!</p>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <label>Titre activité</label>
  <app-text-field
    id="activityTitle"
    name="activityTitle"
    [required]="true"
    #activityTitle="ngModel"
    [form]="myForm"
    [(ngModel)]="formData.activityTitle"
  ></app-text-field>

  <p>Nom du créateur</p>
  <p>Lieu</p>

  <app-input-date
    inputId="activityDate"
    name="activityDate"
    [required]="true"
    #activityDate="ngModel"
    [(ngModel)]="formData.activityDate"
  ></app-input-date>
  <app-select-city></app-select-city>
  <app-input-hour
    inputId="activityHour"
    name="activityHour"
    [required]="true"
    #activityHour="ngModel"
    [(ngModel)]="formData.activityHour"
  ></app-input-hour>

  <p>Nbre de participant</p>
  <p>img</p>
  <p>Lien</p>
  <app-modal></app-modal>
  <button type="submit">Submit</button>
</form>
