.activity-form-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.activity-form {
	width: 80%;
	border: solid 1px;
	border-radius: 20px;
	padding: 40px;
	border-color: #c2c2c2;
}
.input-activity-form {
	width: 100%;
}
