<div class="activity-form-container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="activity-form">
    <app-avatar-pseudo></app-avatar-pseudo>
    <p>Titre de l'activité</p>
    <app-text-field
      id="name"
      name="name"
      [required]="true"
      #name="ngModel"
      [form]="myForm"
      [(ngModel)]="formData.name"
      class="input-activity-form"
    ></app-text-field>

    <p>Date de l'évènement</p>
    <app-input-date
      inputId=" date"
      name="date"
      [required]="true"
      #date="ngModel"
      [(ngModel)]="formData.date"
    ></app-input-date>

    <p>Heure de l'évènement</p>
    <app-input-hour
      inputId="hour"
      name="hour"
      [required]="true"
      #hour="ngModel"
      [(ngModel)]="formData.hour"
    ></app-input-hour>

    <p>Lieu</p>
    <app-select-city
      inputId="city"
      name="activityCity"
      [required]="true"
      #activityCity="ngModel"
      [(ngModel)]="formData.city"
    >
    </app-select-city>

    <p>Catégorie</p>
    <app-select-category
      inputId="category"
      name="category"
      [required]="true"
      #category="ngModel"
      [(ngModel)]="formData.category"
    ></app-select-category>

    <p>Nbre de participants</p>
    <app-select-number
      inputId=" nbGuest"
      name=" nbGuest"
      [required]="true"
      #nbGuest="ngModel"
      [(ngModel)]="formData.nbGuest"
    ></app-select-number>
    <p>Description de l'évènement</p>

    <app-textarea
      inputId=" description"
      name=" description"
      [required]="true"
      #description="ngModel"
      [(ngModel)]="formData.description"
    ></app-textarea>
    <p>img</p>
    <input  inputId=" imgUrl"
    name=" imgUrl"
    #imgUrl="ngModel"
    [(ngModel)]="formData.imgUrl"type="file"class="file-upload">
    <p>Lien</p>
    <input  inputId=" link"
    name=" link"
    #link="ngModel"
    [(ngModel)]="formData.link"type="url">
    <!-- <app-modal></app-modal> -->
    <div class="card flex justify-content-center">
      <p-button label="Check" type="submit">Submit</p-button>
    </div>
  </form>
</div>
