.container {
	display: flex;
	justify-content: center;
	gap: 0;
	background-color: transparent;
	min-height: calc(100vh - 130px);
}

app-activity-update-management {
	width: 100%;
	display: flex;
	justify-content: center;
}
