<p>update-activity works!</p>
<div class="activity-form-container">
	<div class="card flex justify-content-center"></div>
	<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="activity-form">
		<app-avatar-pseudo></app-avatar-pseudo>
		<p>Titre de l'activité</p>
		<app-text-field
			id="name"
			name="name"
			[required]="true"
			#name="ngModel"
			[form]="myForm"
			[(ngModel)]="formData.name"
			class="input-activity-form"
		></app-text-field>

		<p>Date de l'évènement</p>
		<app-input-date
			inputId=" date"
			name="date"
			[required]="true"
			#date="ngModel"
			[(ngModel)]="formData.date"
		></app-input-date>

		<p>Heure de l'évènement</p>
		<app-input-hour
			inputId="hour"
			name="hour"
			[required]="true"
			#hour="ngModel"
			[(ngModel)]="formData.hour"
		></app-input-hour>

		<p>Lieu</p>
		<app-select-city
			inputId="city"
			name="activityCity"
			[required]="true"
			#activityCity="ngModel"
			[(ngModel)]="formData.activityCity"
		>
		</app-select-city>

		<p>Catégorie</p>
		<app-select-category
			inputId="categoryId"
			name="categoryId"
			[required]="true"
			#category="ngModel"
			[(ngModel)]="formData.categoryId"
		></app-select-category>

		<p>Nbre de participants</p>
		<app-select-number
			inputId="nbGuest"
			name="nbGuest"
			[required]="true"
			#nbGuest="ngModel"
			[(ngModel)]="formData.nbGuest"
		></app-select-number>
		<p>Description de l'évènement</p>

		<app-textarea
			inputId="description"
			name="description"
			[required]="true"
			#description="ngModel"
			[(ngModel)]="formData.description"
		></app-textarea>
		<p>img</p>
		<i class="pi pi-download" style="font-size: 1.5rem"></i>

		<input
			inputId="imgUrl"
			name="imgUrl"
			#imgUrl="ngModel"
			[(ngModel)]="formData.imgUrl"
			type="file"
			class="file-upload"
		/>
		<p>Lien</p>
		<i class="pi pi-download" style="font-size: 1.5rem"></i>

		<input
			inputId="link"
			name="link"
			#link="ngModel"
			[(ngModel)]="formData.link"
			type="url"
		/>
		<!-- <app-modal></app-modal> -->
		<div class="card flex justify-content-center">
			<p-button rounded label="Check" type="submit">Modifier</p-button>
		</div>
	</form>
</div>
