.p-terminal {
  background: $panelContentBg;
  color: $panelContentTextColor;
  border: $panelContentBorder;
  padding: $panelContentPadding;

  .p-terminal-input {
    font-family: var(--font-family-primary);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: $inputTextFontSize;
  }
}
