.primary-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0rem 1rem;

	@media (min-width: 768px) {
		width: 60%;
		max-width: none;
		padding: 0rem 1rem 0rem 1rem;
	}

	@media (min-width: 960px) {
		width: 50%;
	}

	@media (min-width: 1280px) {
		width: 40%;
		padding: 0rem 1rem 0rem 1rem;
	}

	@media (min-width: 1920px) {
		width: 30%;
	}
}

.content-box {
	width: 100%;
	max-width: 450px;
}

h1 {
	margin: 0;
	margin-bottom: 1.75rem;
	color: var(--black-color);
}

.text-with-redirect {
	margin-top: 2rem;
}

.secondary-container {
	display: none;
	margin-bottom: 0.5rem;
	border-radius: 20px;
	overflow: hidden;

	@media (min-width: 768px) {
		display: flex;
		min-height: calc(100vh - 200px);
		width: 40%;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media (min-width: 960px) {
		width: 50%;
	}

	@media (min-width: 1280px) {
		width: 60%;
	}

	@media (min-width: 1920px) {
		width: 70%;
	}
}
