:host ::ng-deep .p-button.p-button-outlined {
  background-color: transparent;
  width: 100%;
  align-items: left;
  padding: 0.95rem 1rem;
  border-color: var(--gray-200);

  &:hover {
    background-color: var(--gray-500);
  }
}

:host ::ng-deep .p-button .p-button-label {
  text-align: left;
  font-size: 0.85rem;
  color: var(--black-color);
  margin-left: 1rem;
}

:host ::ng-deep .p-button .p-button-icon {
  color: var(--black-color);
  font-size: 1.25rem;

  &.pi-facebook {
    color: #3b5998;
  }

  &.pi-twitter {
    color: #1da0f2;
  }
}
