:host ::ng-deep .p-button.p-button-outlined {
  background-color: transparent;
  width: 100%;
  align-items: left;
  padding: 0.95rem 1rem;
  border-color: var(--gray-200);
}

:host ::ng-deep .p-button .p-button-label {
  text-align: left;
  font-size: 0.85rem;
  color: black;
  margin-left: 1rem;
}

:host ::ng-deep .p-button .p-button-icon {
  color: black;
  font-size: 1.25rem;
}
