@import 'assets/theme/scss/light/theme.scss';

@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}
.p-ripple {
	color: white;
}
