.functioning-card {
	background-color: var(--gray-500);
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 10px;
	gap: 1rem;
	margin-inline: 100px;

	h4 {
		font-size: 1.025rem;
		color: var(--black-color);
		margin: 0;
		margin-bottom: 0.85rem;
	}

	p {
		color: var(--black-color);
		font-size: 0.85rem;
		margin: 0;
		margin-bottom: 0.85rem;
	}

	.img-box {
		width: 100%;

		img {
			width: 100%;
			max-width: 100px;
		}
	}

	a {
		color: var(--primary-color);
		font-size: 0.85rem;
		margin: 0;
		text-decoration: none;
		font-weight: 700;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (min-width: 768px) AND (max-width: 960px) {
		justify-content: space-around;
		gap: 2.5rem;

		.img-box {
			width: 100%;

			img {
				width: 100%;
				max-width: 200px;
			}
		}
	}

	@media (min-width: 960px) {
		justify-content: space-around;
		gap: 2.5rem;

		.img-box {
			width: 100%;

			img {
				width: 100%;
				max-width: 230px;
			}
		}
	}

	@media (min-width: 1280px) {
		justify-content: space-around;
		gap: 2.5rem;
		margin-inline: 100px;
		.img-box {
			width: 100%;

			img {
				width: 100%;
				max-width: 250px;
			}
		}
	}
}
