.container {
	max-width: 1920px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	padding-top: 4rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

app-layout-container-content {
	width: 100%;
}

.content-box {
	margin-top: 2rem;
	width: 100%;
}

.categories-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.category-card {
	// background-image: url(/assets/photos/category.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	padding: 0rem;
	width: 100%;
	max-width: 200px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: var(--white-color);
	height: 234px;

	p {
		padding: 0.5rem 1rem;
		background-color: rgba(0, 0, 0, 0.2);
		width: 100%;
		text-align: center;
		font-weight: bold;
		border-radius: 10px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}

:host ::ng-deep app-select-category {
	position: relative;
	z-index: 1000000;

	.p-dropdown {
		width: 100%;
	}

	.btn-box {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.5rem;
	}
}

:host ::ng-deep .icon-box {
	display: flex;
	justify-content: center;
	margin-top: 2rem;

	p-button .p-button {
		width: 3.5rem;
		height: 3.5rem;

		.pi {
			font-size: 2rem;
		}
	}
}
