<div class="container">
	<app-dashboard-layout
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="connectedUser.nickname"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
		[items]="navItems"
	>
		<app-layout-container-content
			sectionTitle="Mes centres d’intérêts"
			[hideBtn]="true"
		>
			<div class="content-box" data>
				<div class="categories-container">
					<div
						class="category-card"
						[ngStyle]="{
							backgroundImage: 'url(' + category.imgUrl + ')'
						}"
						*ngFor="let category of userCategoryList$ | async"
					>
						<p>{{ category.title }}</p>
					</div>
				</div>

				<div class="icon-box">
					<p-button
						icon="pi pi-plus"
						[rounded]="true"
						(click)="categoryModal.toggleShow()"
					/>
					<app-modal-add-category
						#categoryModal
						(categoriesUpdated)="onCategoryUpdated()"
					></app-modal-add-category>
				</div>
			</div>
		</app-layout-container-content>
	</app-dashboard-layout>
</div>
