<div class="container">
	<app-account-layout
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="connectedUser.username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
	>
		<app-account-container-content
			sectionTitle="Mes centres d’intérêts"
			[hideBtn]="true"
		>
			<div class="content-box" data>
				<div class="categories-container">
					<div
						class="category-card"
						*ngFor="let category of userCategoryList$ | async"
					>
						<p>{{ category.name }}</p>
					</div>
				</div>

				<div class="icon-box">
					<p-button
						icon="pi pi-plus"
						[rounded]="true"
						(click)="categoryModal.toggleShow()"
					/>
					<app-modal-add-category
						#categoryModal
						(categoriesUpdated)="onCategoryUpdated()"
					></app-modal-add-category>
				</div>
			</div>
		</app-account-container-content>
	</app-account-layout>
</div>
