<div class="activities-top">
	<div class="btn-left">
		<p-button
			icon="pi pi-filter-fill"
			[rounded]="true"
			[outlined]="true"
			(click)="onChangeShowFilterInMobile()"
			styleClass="show-filter-btn"
		/>
	</div>

	<p-button
		[raised]="true"
		*ngIf="connectedUser"
		rounded
		[routerLink]="[fullActivityRoute.POST]"
		>Créer une activité</p-button
	>
</div>

<div class="activities-cards">
	<ng-container *ngIf="pagedActivities.length">
		<app-activity-card
			*ngFor="let activity of pagedActivities"
			[activity]="activity"
			[connectedUser]="connectedUser"
			(activityDeleted)="onActivityDeleted()"
		>
		</app-activity-card>
	</ng-container>
</div>

<app-pagination
	*ngIf="pagedActivities.length"
	[rows]="rows"
	[first]="first"
	[totalRecords]="totalRecords"
	[rowsPerPageOptions]="rowsPerPageOptions"
	(pageChange)="onPageChange($event)"
	(rowsChange)="onRowsChange($event)"
></app-pagination>

<app-alert
	message="Votre recherche n'a retourné aucun résultat. Veuillez essayer avec d'autres filtres ou critères."
	icon="pi pi-times"
	[error]="!pagedActivities.length"
></app-alert>
