<div class="activities-top">
	<p-button
		icon="pi pi-times"
		[rounded]="true"
		[outlined]="true"
		(click)="onResetFilters()"
		styleClass="reset-filter-btn"
	/>

	<p-button
		icon="pi pi-filter-fill"
		[rounded]="true"
		[outlined]="true"
		(click)="onChangeShowFilterInMobile()"
		styleClass="show-filter-btn"
	/>

	<p-button
		[raised]="true"
		*ngIf="connectedUser"
		rounded
		[routerLink]="[fullActivityRoute.POST]"
		>Créer une activité</p-button
	>
</div>

<div class="activities-cards">
	<ng-container *ngIf="pagedActivities.length">
		<app-activity-card
			*ngFor="let activity of pagedActivities"
			[activity]="activity"
			[connectedUser]="connectedUser"
			(activityDeleted)="onActivityDeleted()"
		>
		</app-activity-card>
	</ng-container>
</div>

<app-pagination
	*ngIf="pagedActivities.length"
	[rows]="rows"
	[first]="first"
	[totalRecords]="totalRecords"
	(pageChange)="onPageChange($event)"
	(rowsChange)="onRowsChange($event)"
></app-pagination>

<p-messages severity="error" *ngIf="!pagedActivities.length">
	<ng-template pTemplate>
		<div class="message-content">
			<i class="pi pi-times"></i>
			<p>
				Votre recherche n'a retourné aucun résultat. Veuillez essayer avec
				d'autres filtres ou critères.
			</p>
		</div>
	</ng-template>
</p-messages>
