:host ::ng-deep .p-message-error {
  margin: 0;
}

:host ::ng-deep .p-inline-message {
  padding: 0.15rem 0.75rem;
}

:host ::ng-deep .p-inline-message-text {
  font-size: 0.85rem;
}

:host ::ng-deep .p-icon {
  display: none;
}
