<div class="container">
	<app-dashboard-layout
		[avatarSrc]="avatarSrc"
		[avatarAlt]="avatarAlt"
		[username]="connectedUser.username"
		[pageTitle]="pageTitle"
		[pageDescription]="pageDescription"
		[items]="navItems"
	>
		<h2>Chiffres clés</h2>

		<div class="chiffre-clés">
			<div class="chiffre">
				<div class="nbr">
					<div>Nombre d'utilisateurs</div>
					<div>xxxx</div>
				</div>
				<div class="nbr">
					<div>Nombre d'activités</div>
					<div>xxxx</div>
				</div>
				<div class="nbr">
					<div>Nombre de réservations</div>
					<div>xxxx</div>
				</div>
			</div>
			<div class="graph-container">
				<app-pie-board></app-pie-board>
				<app-vertical-board></app-vertical-board>
			</div>
		</div>
		<app-multi-axe></app-multi-axe>
	</app-dashboard-layout>
</div>
